@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  li {
    display: inline-block;
    margin: {
      left: -2px;
      right: 2em;
    }
  }
}

@mixin reset-link {
  text-decoration: none;
  color: var(--primary-blue);
}

@mixin button-base {
  box-sizing: border-box;
  background: var(--button-blue);
  color: var(--white);
  box-shadow: 0px -2px 0px 0px rgba(0, 32, 64, 0.10) inset, 0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset, 0px 10px 10px 0px rgba(0, 32, 64, 0.10);
  border: none;
  width: 400px;
  border-radius: 10px;
  padding: 30px 97px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

@mixin button-secondary {
  box-sizing: border-box;
  background: transparent;
  color: var(--primary-blue);
  border: 1px solid var(--primary-blue);
  width: 400px;
  border-radius: 80px;
  padding: 30px 97px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}