:root {
  --primary-blue: rgba(0, 32, 64, 1);
  --button-blue: linear-gradient(180deg, rgba(64, 159, 255, 1), rgba(0, 127, 255, 1));
  --accent-blue-text: rgba(0, 127, 255, 1);
  --accent-blue-bg: rgba(242, 249, 255, 1);
  --light-grey-bg: rgba(249, 252, 255, 1);
  --white-bg: rgba(242, 242, 242, 1);
  --white: #fff;
}

$font-base: Montserrat, sans-serif;
