.button {
  @include button-base;
  margin: 0 auto;
  gap: 25px;
  font-size: 16px;
  font-weight: 700;
}

.button_primary {
  @include button-base;
  border-radius: 80px;
  margin: 0 auto;
  gap: 25px;
  font-size: 16px;
  font-weight: 700;
}

.button_secondary {
  @include button-secondary;
  margin: 0 auto;
  gap: 25px;
  font-size: 16px;
  font-weight: 500;
}

.button_menu {
  @include button-base;
  width: 121px;
  border-radius: 80px;
  padding: 10px 20px;
}

.button_callback {
  border: none;
  background-color: var(--white);
  color: var(--primary-blue);
  font-weight: 700;
  padding: 30px 60px;
  border-radius: 80px;
  white-space: nowrap;
}

.button_navigate {
  border: none;
  background-color: var(--white);
  color: var(--primary-blue);
  width: 60px;
  height: 25px;
  border-radius: 5px;
}
