@font-face {
  src:
    url("../../fonts/Montserrat-Medium.woff2"),
    url("../../fonts/Montserrat-Medium.woff");
  font-family: Montserrat;
  font-weight: 500;
}

@font-face {
  src:
    url("../../fonts/Montserrat-SemiBold.woff2"),
    url("../../fonts/Montserrat-SemiBold.woff");
  font-family: Montserrat;
  font-weight: 600;
}


@font-face {
  src:
    url("../../fonts/Montserrat-Bold.woff2"),
    url("../../fonts/Montserrat-Bold.woff");
  font-family: Montserrat;
  font-weight: 700;
}